uk-mrtm-app-web/src/assets/files/aer-ship-details-and-emissions-v1.3.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="emissionReportsList" type="emissionReportDetailsListDTO"/>
    <xs:complexType name="emissionReportDetailsListDTO">
        <xs:sequence>
            <xs:element name="emissionReport" type="emissionReportDetailsDTO" minOccurs="1" maxOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="shipUpdateDTO">
        <xs:sequence>
            <xs:element name="shipImoNumber" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{7}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="name" type="nonEmptyStringMax255" minOccurs="1" maxOccurs="1"/>
            <xs:element name="shipType" type="shipTypeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="grossTonnage" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="5000"/>
                        <xs:maxInclusive value="999999999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="flag" type="flagEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="iceClassPolarCode" type="iceClassPolarCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="iceClassSurrenderReduction" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="allYear" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="partialPeriodFromDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="partialPeriodToDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="emissionReportDetailsDTO">
        <xs:complexContent>
            <xs:extension base="shipUpdateDTO">
                <xs:sequence>
                    <xs:element name="company" type="companyUpdateDTO" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="fuelTypes" type="erFuelTypeEmissionFactorSection" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="emissionSources" type="erEmissionSourcesSection" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="monitoringMethods" type="monitoringMethodsSection" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="additionalInformation" type="additionalInformationDTO" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="companyUpdateDTO">
        <xs:sequence>
            <xs:element name="nature" type="natureEnum" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="erFuelTypeEmissionFactorSection">
        <xs:sequence>
            <xs:element name="fuelTypeEntry" type="fuelTypeEmissionFactorEditDTO" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fuelTypeEmissionFactorEditDTO">
        <xs:sequence>
            <xs:element name="otherFuelType" type="nonEmptyStringMax30" minOccurs="0" maxOccurs="1"/>
            <xs:element name="fuelOriginCode" type="fuelOriginCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fuelTypeCode" type="fuelTypeCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="emissionFactors" type="emissionFactorDTO" minOccurs="3" maxOccurs="3"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="emissionFactorDTO">
        <xs:sequence>
            <xs:element name="factorReferenceCode" type="factorReferenceCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ghgCode" type="ghgCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ttwEF" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:pattern value="\d{1,12}(\.\d+)?"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="erEmissionSourcesSection">
        <xs:sequence>
            <xs:element name="emissionSourceEntry" type="emissionSourceEditDTO" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="emissionSourceEditDTO">
        <xs:sequence>
            <xs:element name="name" type="nonEmptyStringMax255" minOccurs="1" maxOccurs="1"/>
            <xs:element name="emissionSourceTypeCode" type="emissionSourceTypeCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="emissionSourceClassCode" type="emissionSourceClassCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="monitoringMethodCode" type="monitoringMethodCodeEnum" minOccurs="1" maxOccurs="4"/>
            <xs:element name="fuelTypeCodes" type="fuelTypeCodeDTO" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fuelTypeCodeDTO">
        <xs:sequence>
            <xs:element name="fuelTypeCode" type="fuelTypeCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="otherFuelType" type="nonEmptyStringMax30" minOccurs="0" maxOccurs="1"/>
            <xs:element name="slipPercentage" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.000"/>
                        <xs:maxInclusive value="1.000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="monitoringMethodsSection">
        <xs:sequence>
            <xs:element name="monitoringMethodEntry" type="monitoringMethodEntryDTO" minOccurs="1" maxOccurs="4"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="monitoringMethodEntryDTO">
        <xs:sequence>
            <xs:element name="monitoringMethodCode" type="monitoringMethodCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="levelOfUncertaintyTypeCode" type="levelOfUncertaintyTypeCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="shipSpecificUncertainty" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.01"/>
                        <xs:maxInclusive value="100.00"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="additionalInformationDTO">
        <xs:sequence>
            <xs:element name="exemptionPerVoyageMonitoring" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="carbonCaptureReduction" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
            <xs:element name="smallIslandSurrenderReduction" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="nonEmptyStringMax30">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nonEmptyStringMax255">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="shipTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BULK"/>
            <xs:enumeration value="RORO"/>
            <xs:enumeration value="CONT"/>
            <xs:enumeration value="OIL"/>
            <xs:enumeration value="CHEM"/>
            <xs:enumeration value="LNG"/>
            <xs:enumeration value="GAS"/>
            <xs:enumeration value="PAX"/>
            <xs:enumeration value="GENERAL"/>
            <xs:enumeration value="RCV"/>
            <xs:enumeration value="VEH"/>
            <xs:enumeration value="COMB"/>
            <xs:enumeration value="ROPAX"/>
            <xs:enumeration value="CONT_RORO"/>
            <xs:enumeration value="CRUISE"/>
            <xs:enumeration value="OFFSHORE"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="flagEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AE"/>
            <xs:enumeration value="AF"/>
            <xs:enumeration value="AG"/>
            <xs:enumeration value="AI"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="AO"/>
            <xs:enumeration value="AR"/>
            <xs:enumeration value="AS"/>
            <xs:enumeration value="AT"/>
            <xs:enumeration value="AU"/>
            <xs:enumeration value="AW"/>
            <xs:enumeration value="AZ"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="BB"/>
            <xs:enumeration value="BD"/>
            <xs:enumeration value="BE"/>
            <xs:enumeration value="BG"/>
            <xs:enumeration value="BH"/>
            <xs:enumeration value="BJ"/>
            <xs:enumeration value="BM"/>
            <xs:enumeration value="BN"/>
            <xs:enumeration value="BO"/>
            <xs:enumeration value="BQ"/>
            <xs:enumeration value="BR"/>
            <xs:enumeration value="BS"/>
            <xs:enumeration value="BY"/>
            <xs:enumeration value="BZ"/>
            <xs:enumeration value="CA"/>
            <xs:enumeration value="CD"/>
            <xs:enumeration value="CG"/>
            <xs:enumeration value="CH"/>
            <xs:enumeration value="CI"/>
            <xs:enumeration value="CK"/>
            <xs:enumeration value="CL"/>
            <xs:enumeration value="CM"/>
            <xs:enumeration value="CN"/>
            <xs:enumeration value="CO"/>
            <xs:enumeration value="CR"/>
            <xs:enumeration value="CU"/>
            <xs:enumeration value="CV"/>
            <xs:enumeration value="CW"/>
            <xs:enumeration value="CY"/>
            <xs:enumeration value="CZ"/>
            <xs:enumeration value="DE"/>
            <xs:enumeration value="DJ"/>
            <xs:enumeration value="DK"/>
            <xs:enumeration value="DM"/>
            <xs:enumeration value="DO"/>
            <xs:enumeration value="DZ"/>
            <xs:enumeration value="EC"/>
            <xs:enumeration value="EE"/>
            <xs:enumeration value="EG"/>
            <xs:enumeration value="ER"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="ET"/>
            <xs:enumeration value="FI"/>
            <xs:enumeration value="FJ"/>
            <xs:enumeration value="FK"/>
            <xs:enumeration value="FM"/>
            <xs:enumeration value="FO"/>
            <xs:enumeration value="FR"/>
            <xs:enumeration value="GA"/>
            <xs:enumeration value="GB"/>
            <xs:enumeration value="GD"/>
            <xs:enumeration value="GE"/>
            <xs:enumeration value="GG"/>
            <xs:enumeration value="GH"/>
            <xs:enumeration value="GI"/>
            <xs:enumeration value="GM"/>
            <xs:enumeration value="GN"/>
            <xs:enumeration value="GQ"/>
            <xs:enumeration value="GR"/>
            <xs:enumeration value="GT"/>
            <xs:enumeration value="GW"/>
            <xs:enumeration value="GY"/>
            <xs:enumeration value="HK"/>
            <xs:enumeration value="HN"/>
            <xs:enumeration value="HR"/>
            <xs:enumeration value="HT"/>
            <xs:enumeration value="HU"/>
            <xs:enumeration value="ID"/>
            <xs:enumeration value="IE"/>
            <xs:enumeration value="IL"/>
            <xs:enumeration value="IM"/>
            <xs:enumeration value="IN"/>
            <xs:enumeration value="IQ"/>
            <xs:enumeration value="IR"/>
            <xs:enumeration value="IS"/>
            <xs:enumeration value="IT"/>
            <xs:enumeration value="JE"/>
            <xs:enumeration value="JM"/>
            <xs:enumeration value="JO"/>
            <xs:enumeration value="JP"/>
            <xs:enumeration value="KE"/>
            <xs:enumeration value="KG"/>
            <xs:enumeration value="KH"/>
            <xs:enumeration value="KI"/>
            <xs:enumeration value="KM"/>
            <xs:enumeration value="KN"/>
            <xs:enumeration value="KP"/>
            <xs:enumeration value="KR"/>
            <xs:enumeration value="KW"/>
            <xs:enumeration value="KY"/>
            <xs:enumeration value="KZ"/>
            <xs:enumeration value="LA"/>
            <xs:enumeration value="LB"/>
            <xs:enumeration value="LC"/>
            <xs:enumeration value="LK"/>
            <xs:enumeration value="LR"/>
            <xs:enumeration value="LT"/>
            <xs:enumeration value="LU"/>
            <xs:enumeration value="LV"/>
            <xs:enumeration value="LY"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MC"/>
            <xs:enumeration value="MD"/>
            <xs:enumeration value="ME"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="MH"/>
            <xs:enumeration value="ML"/>
            <xs:enumeration value="MM"/>
            <xs:enumeration value="MN"/>
            <xs:enumeration value="MO"/>
            <xs:enumeration value="MR"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MU"/>
            <xs:enumeration value="MV"/>
            <xs:enumeration value="MX"/>
            <xs:enumeration value="MY"/>
            <xs:enumeration value="MZ"/>
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NE"/>
            <xs:enumeration value="NG"/>
            <xs:enumeration value="NI"/>
            <xs:enumeration value="NL"/>
            <xs:enumeration value="NO"/>
            <xs:enumeration value="NR"/>
            <xs:enumeration value="NZ"/>
            <xs:enumeration value="OM"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PF"/>
            <xs:enumeration value="PG"/>
            <xs:enumeration value="PH"/>
            <xs:enumeration value="PK"/>
            <xs:enumeration value="PL"/>
            <xs:enumeration value="PT"/>
            <xs:enumeration value="PW"/>
            <xs:enumeration value="PY"/>
            <xs:enumeration value="QA"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RU"/>
            <xs:enumeration value="SA"/>
            <xs:enumeration value="SB"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SD"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="SG"/>
            <xs:enumeration value="SH"/>
            <xs:enumeration value="SI"/>
            <xs:enumeration value="SK"/>
            <xs:enumeration value="SL"/>
            <xs:enumeration value="SN"/>
            <xs:enumeration value="SO"/>
            <xs:enumeration value="SR"/>
            <xs:enumeration value="SS"/>
            <xs:enumeration value="ST"/>
            <xs:enumeration value="SV"/>
            <xs:enumeration value="SX"/>
            <xs:enumeration value="SY"/>
            <xs:enumeration value="TC"/>
            <xs:enumeration value="TF"/>
            <xs:enumeration value="TG"/>
            <xs:enumeration value="TH"/>
            <xs:enumeration value="TJ"/>
            <xs:enumeration value="TM"/>
            <xs:enumeration value="TN"/>
            <xs:enumeration value="TO"/>
            <xs:enumeration value="TR"/>
            <xs:enumeration value="TT"/>
            <xs:enumeration value="TV"/>
            <xs:enumeration value="TW"/>
            <xs:enumeration value="TZ"/>
            <xs:enumeration value="UA"/>
            <xs:enumeration value="UG"/>
            <xs:enumeration value="US"/>
            <xs:enumeration value="UY"/>
            <xs:enumeration value="UZ"/>
            <xs:enumeration value="VC"/>
            <xs:enumeration value="VE"/>
            <xs:enumeration value="VG"/>
            <xs:enumeration value="VI"/>
            <xs:enumeration value="VN"/>
            <xs:enumeration value="VU"/>
            <xs:enumeration value="WS"/>
            <xs:enumeration value="YE"/>
            <xs:enumeration value="ZA"/>
            <xs:enumeration value="ZW"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="iceClassPolarCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PC1"/>
            <xs:enumeration value="PC2"/>
            <xs:enumeration value="PC3"/>
            <xs:enumeration value="PC4"/>
            <xs:enumeration value="PC5"/>
            <xs:enumeration value="PC6"/>
            <xs:enumeration value="PC7"/>
            <xs:enumeration value="IC"/>
            <xs:enumeration value="IB"/>
            <xs:enumeration value="IA"/>
            <xs:enumeration value="IA_SUPER"/>
            <xs:enumeration value="NA"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="natureEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHIPOWNER"/>
            <xs:enumeration value="ISM_COMPANY"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fuelOriginCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FOSSIL"/>
            <xs:enumeration value="BIOFUEL"/>
            <xs:enumeration value="RFNBO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="fuelTypeCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HFO"/>
            <xs:enumeration value="LFO"/>
            <xs:enumeration value="MDO"/>
            <xs:enumeration value="MGO"/>
            <xs:enumeration value="LNG"/>
            <xs:enumeration value="LPG_BUTANE"/>
            <xs:enumeration value="LPG_PROPANE"/>
            <xs:enumeration value="H2"/>
            <xs:enumeration value="NH3"/>
            <xs:enumeration value="METHANOL"/>
            <xs:enumeration value="ETHANOL"/>
            <xs:enumeration value="BIO_DIESEL"/>
            <xs:enumeration value="HVO"/>
            <xs:enumeration value="BIO_LNG"/>
            <xs:enumeration value="BIO_METHANOL"/>
            <xs:enumeration value="BIO_H2"/>
            <xs:enumeration value="E_DIESEL"/>
            <xs:enumeration value="E_METHANOL"/>
            <xs:enumeration value="E_LNG"/>
            <xs:enumeration value="E_H2"/>
            <xs:enumeration value="E_NH3"/>
            <xs:enumeration value="E_LPG"/>
            <xs:enumeration value="E_DME"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="factorReferenceCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="DEFINED_BY_USER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ghgCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CH4"/>
            <xs:enumeration value="CO2"/>
            <xs:enumeration value="N2O"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="emissionSourceTypeCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIN_ENGINE"/>
            <xs:enumeration value="AUX_ENGINE"/>
            <xs:enumeration value="GAS_TURBINE"/>
            <xs:enumeration value="BOILER"/>
            <xs:enumeration value="INERT_GAS_GENERATOR"/>
            <xs:enumeration value="FUEL_CELLS"/>
            <xs:enumeration value="WASTE_INCINERATOR"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="emissionSourceClassCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOILERS"/>
            <xs:enumeration value="FUEL_CELLS"/>
            <xs:enumeration value="GAS_TURBINE"/>
            <xs:enumeration value="ICE"/>
            <xs:enumeration value="INERT_GAS_GENERATOR"/>
            <xs:enumeration value="LNG_DIESEL_DFSS"/>
            <xs:enumeration value="LNG_LBSI"/>
            <xs:enumeration value="LNG_OTTO_DFMS"/>
            <xs:enumeration value="LNG_OTTO_DFSS"/>
            <xs:enumeration value="WASTE_INCINERATORS"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="monitoringMethodCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BDN"/>
            <xs:enumeration value="BUNKER_TANK"/>
            <xs:enumeration value="FLOW_METERS"/>
            <xs:enumeration value="DIRECT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="levelOfUncertaintyTypeCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFAULT"/>
            <xs:enumeration value="SHIP_SPECIFIC"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>

