uk-mrtm-app-web/src/assets/files/emissions-aggregated-data-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="emissions" type="emissionDetailsListDTO"/>
    <xs:complexType name="emissionDetailsListDTO">
        <xs:sequence>
            <xs:element name="shipEmissions" type="emissionDetailsDTO" minOccurs="1" maxOccurs="1000"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="emissionDetailsDTO">
        <xs:sequence>
            <xs:element name="annualEmission" type="annualEmissionEditDTO" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="shipImoNumber" type="shipImoNumberType" use="required"/>
    </xs:complexType>
    <xs:complexType name="annualEmissionEditDTO">
        <xs:sequence>
            <xs:element name="emissions" type="annualConsumptionEditDTO" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="etsEmissionsWithinUkPort" type="emissionsGroupDTO" minOccurs="1" maxOccurs="1"/>
            <xs:element name="etsEmissionsBetweenUkPort" type="emissionsGroupDTO" minOccurs="1" maxOccurs="1"/>
            <xs:element name="etsEmissionsBetweenUkAndEeaPort" type="emissionsGroupDTO" minOccurs="1" maxOccurs="1"/>
            <xs:element name="etsEmissionsSmallIslands" type="emissionsGroupDTO" minOccurs="0" maxOccurs="1"/>
            <xs:element name="etsCcWithinUkPort" type="decimalWithSevenFractionDigits" minOccurs="1" maxOccurs="1"/>
            <xs:element name="etsCcBetweenUkPort" type="decimalWithSevenFractionDigits" minOccurs="1" maxOccurs="1"/>
            <xs:element name="etsCcBetweenUkAndEeaPort" type="decimalWithSevenFractionDigits" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="etsCcSmallIslands" type="decimalWithSevenFractionDigits" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="annualConsumptionEditDTO">
        <xs:sequence>
            <xs:element name="otherFuelType" type="otherFuelType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="fuelOriginCode" type="fuelOriginCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="fuelTypeCode" type="fuelTypeCodeEnum" minOccurs="1" maxOccurs="1"/>
            <xs:element name="amount" type="decimalWithFiveFractionDigits" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="emissionsGroupDTO">
        <xs:sequence>
            <xs:element name="tco2Total" type="decimalWithSevenFractionDigits" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tch4eqTotal" type="decimalWithSevenFractionDigits" minOccurs="1" maxOccurs="1"/>
            <xs:element name="tn2οeqTotal" type="decimalWithSevenFractionDigits" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="fuelOriginCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FOSSIL"/>
            <xs:enumeration value="BIOFUEL"/>
            <xs:enumeration value="RFNBO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="fuelTypeCodeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HFO"/>
            <xs:enumeration value="LFO"/>
            <xs:enumeration value="MDO"/>
            <xs:enumeration value="MGO"/>
            <xs:enumeration value="LNG"/>
            <xs:enumeration value="LPG_BUTANE"/>
            <xs:enumeration value="LPG_PROPANE"/>
            <xs:enumeration value="H2"/>
            <xs:enumeration value="NH3"/>
            <xs:enumeration value="METHANOL"/>
            <xs:enumeration value="ETHANOL"/>
            <xs:enumeration value="BIO_DIESEL"/>
            <xs:enumeration value="HVO"/>
            <xs:enumeration value="BIO_LNG"/>
            <xs:enumeration value="BIO_METHANOL"/>
            <xs:enumeration value="BIO_H2"/>
            <xs:enumeration value="E_DIESEL"/>
            <xs:enumeration value="E_METHANOL"/>
            <xs:enumeration value="E_LNG"/>
            <xs:enumeration value="E_H2"/>
            <xs:enumeration value="E_NH3"/>
            <xs:enumeration value="E_LPG"/>
            <xs:enumeration value="E_DME"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="otherFuelType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="shipImoNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="decimalWithSevenFractionDigits">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:fractionDigits value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="decimalWithFiveFractionDigits">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.0"/>
            <xs:fractionDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
